<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
    
<!--
    <h2>Password</h2>
    <ion-item>
        <ion-input type="password" placeholder="Password Input"></ion-input>
    </ion-item>
    
    <ion-row>
        
        <div layout-align="start center">
            <button ion-button ng-click="login()">Login</button>
	</div>

        <div layout-align="end center">
            <button ion-button ng-click="forgotPin()">Forgot Pin</button>
	</div>
        
    </ion-row>
        
    <ion-row>

        <div>
            <button ion-button ng-click="newUser()">Create User</button>
        </div>

    </ion-row>
-->


</ion-content>