<ion-header *ngIf="pageElementsLoaded">
  <ion-navbar hideBackButton="true" >
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{pageElements.resourceTitleText}}</ion-title>
    </ion-navbar>
</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
    <ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded" class="has-header">

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-row>
                    <h5>Employee Assistance Program</h5> 
                    The Employee Assistance Program is a confidential program 
                    designed to help you and your immediate family members. 
                    They can provide referrals and short-term counselling 
                    services for personal and work-related problems. Contact 
                    the Employee Assistance Program (1-800-268-7708) 24 hours a 
                    day, 365 days a year from anywhere in the country.
                  
                    <a href="mailto:" class="buttonLink">
                        <button ion-button block class = "buttonLink" >Employee Assistance Program</button>
                    </a>
                </ion-row>
                        
                <ion-row>     
                    <h5>Positive Space Program</h5> 
                    This program is 
                    committed to creating a welcoming and inclusive workplace 
                    for everyone. That includes lesbian, gay, bisexual, trans, 
                    intersex, queer and questioning (LGBTQ+) people.                    
                    <a href="mailto:" class="buttonLink">
                        <button ion-button block class = "buttonLink" >Email Positive Space Program</button>
                    </a>
              
                </ion-row>
                
                <ion-row>
                    <h5>Road to Mental Readiness Training</h5> 
                    First responders, such a correctional officers, can be exposed to stresses 
                    not often experienced by the average person. This training 
                    program will help you strengthen your mental resilience 
                    in the face of difficult situations.
                    
                    <button ion-button block class = "buttonLink" [navPush]="selfassessment"> 
                        <ion-icon name="play"> Road to Mental Readiness </ion-icon>
                    </button>                 
                    
                </ion-row>
                <ion-row>
                    <h5>Conflict management</h5> 
                        The conflict management training program  
                    can help you deal with interpersonal challenges at work.   
                                        
                    <a href="mailto:mailto:leanna.haythorne@csc-scc.gc.ca" class="buttonLink">
                        <button ion-button block class = "buttonLink">Email Office of Conflict Management</button>
                    </a>
                </ion-row>
                <ion-row>
                    <h5>Return to Work</h5> 
                    This program helps employees who experience 
                    an injury or illness, work or non-work related, return to 
                    employment as soon as medically possible. 
                                        
                    <a href="mailto:GENNHQRTWDTA@csc-scc.gc.ca" class="buttonLink">
                        <button ion-button block>Email Return to Work Program</button>
                    </a>                    	
                </ion-row>
                <ion-row> 
                    <h5>Duty to Accommodate</h5> 
                    This program helps identify and remove 
                    barriers to employment (i.e. having accessible facilities, 
                    accessible workplace standards, career development 
                    opportunities, accommodation for an injury.)  
                                        
                    <a href="mailto:GEN-NATDTA-OPDMA@CSC-SCC.GC.CA" class="buttonLink">
                        <button ion-button block>Email Duty to Accommodate Program</button>
                    </a> 
                    
                </ion-row>   

                <ion-row> 
                    <h5>Critical Incident Stress Management</h5> 
                            This program that can 
                    help you cope with psychological trauma from incidents that 
                    happen in an institution or the community. It aims to lessen 
                    the response associated with an event. 
 
                    <a href="mailto:mailto:EAP-CISM/PAE-GSIC.GEN@CSC-SCC.GC.CA" class="buttonLink">
                        <button ion-button block>Critical Incident Stress Management</button>
                    </a> 
                    
                </ion-row>  
                
                <ion-row> 
                    <h5>Employee Protection Protocol</h5>
                    This program lets you report threats 
                    or intimidation immediately, whether it’s at work or not. 
                    Report the situation to your manager or contact the National 
                    Monitoring Center to report after hours.
                                        
                    <a href="tel:+1-877-860-0617" class="buttonLink">
                        <button ion-button block>Employee Protection Protocol</button>
                    </a> 
                    
                </ion-row>  
                <ion-row>
                    <h5>Harassment Prevention Program</h5> 
                        If you are experiencing harassment at work, the 
                        Harassment Prevention Program can help. Harassment is 
                        any improper conduct by an individual that is offensive 
                        to another person. Contact the Harassment Prevention 
                        Program.

                  
                    <a href="mailto:" class="buttonLink">
                        <button ion-button block class = "buttonLink" >Employee Assistance Program</button>
                    </a>
                </ion-row>
                
                <ion-row> 
                    <h5>Occupational Health and Safety</h5>
                    This program promotes a safe and healthy workplace for 
                    employees. It helps prevent or reduce occupational injuries 
                    and illnesses by inspecting the workplace, investigating 
                    workplace injuries, and recommending necessary changes in 
                    policy and practice to CSC management. 
                                        
                    <a href="mailto:GEN-NATDTA-OPDMA@CSC-SCC.GC.CA" class="buttonLink">
                        <button ion-button block>Occupational Health and Safety</button>
                    </a> 
                    <br>
                    <br>
                    <br>
                </ion-row>                  
                <ion-row> 
                    <h5>More Helpful Links</h5>  
                                        
                    <button ion-button block class = "fullbutton" [navPush]="resPublic">{{pageElements.buttonText3}}</button>
                    <br>
                    <br>
                    <br>
                </ion-row>  
                
            </ion-col>
            
        </ion-row>
                 
                 
                 
    </ion-grid>
   
</ion-content>


