<ion-header *ngIf="pageElementsLoaded">
  <ion-navbar hideBackButton="true" >
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{pageElements.AssProgTitleText}}</ion-title>
    </ion-navbar>
</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
    <ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded" class="has-header">

    <ion-grid>
        <ion-row>
            <ion-col> 
                <ion-card class = "cardPadding">
                    <ion-row>
                        <div class ="cardH5" >{{pageElements.title1}}</div> 
                        <p>{{pageElements.paragraph1Text}}</p>

                        <a href="mailto:PAE-GSIC_001.GEN_EAP-CISM@CSC-SCC.GC.CA" class="buttonLink">
                            <button ion-button block class = "buttonLink" >{{pageElements.button1}}</button>
                        </a>
                    </ion-row>
                </ion-card>
               
                <ion-card class = "cardPadding">    
                    <ion-row>     
                        <div class ="cardH5" >{{pageElements.title2}}</div> 
                        <p>{{pageElements.paragraph2Text}}</p>                  
                        <a href="mailto:" class="buttonLink">
                            <button ion-button block class = "buttonLink" >{{pageElements.button2}}</button>
                        </a>

                    </ion-row>
                </ion-card>
                
                <ion-card class = "cardPadding">    
                    <ion-row>
                        <div class ="cardH5" >{{pageElements.title3}}</div> 
                        <p>{{pageElements.paragraph3Text}}</p> 
                        <a href="mailto:PRT_001.GEN_RTW@CSC-SCC.GC.CA" class="buttonLink">
                            <button ion-button block class = "buttonLink" >{{pageElements.button3}}</button>
                        </a>

                    </ion-row>
                </ion-card>
                
                <ion-card class = "cardPadding">    
                    <ion-row>
                        <div class ="cardH5" >{{pageElements.title4}}</div> 
                        <p>{{pageElements.paragraph4Text}}</p>   

                        <a href="mailto:mailto:leanna.haythorne@csc-scc.gc.ca" class="buttonLink">
                            <button ion-button block class = "buttonLink">{{pageElements.button4}}</button>
                        </a>
                    </ion-row>
                </ion-card>  
                    
                <ion-card class = "cardPadding">    
                <ion-row>
                    <div class ="cardH5" >{{pageElements.title5}}</div> 
                    <p>{{pageElements.paragraph5Text}}</p>   
                                        
                    <a href="mailto:GENNHQRTWDTA@csc-scc.gc.ca" class="buttonLink">
                        <button ion-button block>{{pageElements.button5}}</button>
                    </a>                    	
                </ion-row>
                </ion-card>
                    
                <ion-card class = "cardPadding">    
                <ion-row> 
                    <div class ="cardH5" >{{pageElements.title6}}</div> 
                    <p>{{pageElements.paragraph6Text}}</p>
                                        
                    <a href="mailto:GEN-NATDTA-OPDMA@CSC-SCC.GC.CA" class="buttonLink">
                        <button ion-button block>{{pageElements.button6}}</button>
                    </a> 
                    
                </ion-row>   
                </ion-card>
                
                
                <ion-card class = "cardPadding">
                <ion-row> 
                    <div class ="cardH5" >{{pageElements.title7}}</div> 
                    <p>{{pageElements.paragraph7Text}}</p>
 
                    <a href="mailto:mailto:PAE-GSIC.GEN@CSC-SCC.GC.CA" class="buttonLink">
                        <button ion-button block>{{pageElements.button7}}</button>
                    </a> 
                    
                </ion-row>  
                </ion-card>
                
                <ion-card class = "cardPadding">
                <ion-row> 
                    <div class ="cardH5" >{{pageElements.title8}}</div> 
                    <p>{{pageElements.paragraph8Text}}</p>
                                        
                    <a href="tel:+1-877-860-0617" class="buttonLink">
                        <button ion-button block>{{pageElements.button8}}</button>
                    </a> 
                    
                </ion-row>  
                </ion-card>
                
                <ion-card class = "cardPadding">    
                <ion-row>
                    <div class ="cardH5" >{{pageElements.title9}}</div> 
                    <p>{{pageElements.paragraph9Text}}</p>

                  
                    <a href="mailto: PreventionHarcelement_001.GEN-NHQHarassment@CSC-SCC.GC.CA" class="buttonLink">
                        <button ion-button block class = "buttonLink" >{{pageElements.button9}}</button>
                    </a>
                </ion-row>
                </ion-card>
                    
                <ion-card class = "cardPadding">    
                <ion-row> 
                    <div class ="cardH5" >{{pageElements.title10}}</div> 
                    <p>{{pageElements.paragraph10Text}}</p>
                                        
                    <a href="mailto:SST_001.GEN_OHS@CSC-SCC.GC.CA" class="buttonLink">
                        <button ion-button block>{{pageElements.button10}}</button>
                    </a> 
                    <br>
                    <br>
                    <br>
                </ion-row>                  
                </ion-card>
                    
        
                <ion-row class = "padbutton"> 
                    <h5>{{pageElements.moreHelpfulLinksText}}</h5>  
                                        
                    <button ion-button block class = "fullbutton" [navPush]="resPublic">{{pageElements.bottomButton}}</button>
                    <br>
                    <br>
                    <br>
                </ion-row>  
                
            </ion-col>
            
        </ion-row>
                 
                 
                 
    </ion-grid>
   
</ion-content>


