page-updates {

	.updateHeader {
	
		font-size: 1.55em;
		font-weight: bold;
	}
	
	.updateDate {
		font-size: 0.9em;
		font-color: #898989;
		padding-top: 0;
	}
	
	.updateContent {
		font-size: 1.125em;
	}
	
	.updateHR {
		width: 90%;
	}

}
