<ion-header *ngIf="pageElementsLoaded">
    <ion-navbar hideBackButton="true">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
		<ion-title>{{pageElements.resourceTitleText}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="addData()" class="newEntrybutton">
				<ion-icon name="add-circle"></ion-icon>
			</button>
		</ion-buttons>
    </ion-navbar>

</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
	<ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded" class="center">
           
    <div class="center">

        <ion-row>	
            <ion-col style="margin-bottom: 20px">
                <button ion-button round outline class="circlebtn" [navPush]="checkinlog"><img src="../../assets/Icons/dailyLog.svg" /></button>
                <ion-label text-center>{{pageElements.buttonText1}}</ion-label>    
            </ion-col>
        </ion-row>
            
		<ion-row>	
            <ion-col style="margin-bottom: 20px">
                <button ion-button round outline class="circlebtn" [navPush]="dashboard"><img src="../../assets/Icons/graph.svg" /></button>
                <ion-label text-center>{{pageElements.buttonText2}}</ion-label>
            </ion-col>
		</ion-row>
			
    </div>        

</ion-content>

