page-wellnesstracker {
    .has-header {
    	margin-top: 44px;
        position:absolute;
        width: 100%;
    }
	
	.center > * {
		display: flex!important;
		align-content: center!important;
		align-items: center!important;
	}
	
	.center-grid {
		margin-bottom: 50px;
	}
	
	.newEntrybutton {
		font-size: 18px;
	}
}
