<ion-header *ngIf="pageElementsLoaded">
    <ion-navbar hideBackButton="true">
		<ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
		<ion-title>{{pageElements.resourceTitleText}}</ion-title>
    </ion-navbar>

</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
	<ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded" class="center">
        <ion-grid class="center-grid">
			<ion-row>
				<ion-col style="text-align:center; margin-bottom:20px;">
					<h3 class="title">{{pageElements.resPageText}}</h3>
				</ion-col>
			</ion-row>
			<ion-row>	
				<ion-col style="margin-bottom: 20px">
					<div style="text-align:center">Check-in and log your current mood!</div>
					<button ion-button block [navPush]="dailyentry">{{pageElements.buttonText1}}</button>
				</ion-col>
			</ion-row>
			<ion-row>	
				<ion-col style="margin-bottom: 20px">
					<div style="text-align:center">View all your check-in logs in one place!</div>
					<button ion-button block [navPush]="checkinlog">{{pageElements.buttonText2}}</button>
				</ion-col>
			</ion-row>
			<ion-row>	
				<ion-col style="margin-bottom: 20px">
					<div style="text-align:center">Analyze your check-in logs using the dashboard!</div>
					<button ion-button block [navPush]="dashboard">{{pageElements.buttonText3}}</button>
				</ion-col>
			</ion-row>
			
			<!--<ion-row>	
				<ion-col>
					<button ion-button block [navPush]="assessment">{{pageElements.buttonText4}}</button>
				</ion-col>
			</ion-row>-->
			
		</ion-grid>        
</ion-content>

<ion-footer>
    
    <ion-toolbar>
    
        <button ion-button block>Aidez moi / Help Me</button>
    
    </ion-toolbar>
    
</ion-footer>
