page-tools {
    
    .contentBG{
        background-color: #A3A9FF;
    }
    
    .has-header {
    	top: 44px;
	position:absolute;
	width: 100%;
    }
    
    .MapleLeafImg{
        height: auto;
        width: 25%;
        
    }
    .featureImg{
        height: auto;
        width: auto;
        padding-top:  10px;
    }    
    .backgroundMHCM{
//        background-color: url(../../../assets/imgs/backgroundMHCM.png);
//        background-repeat: no-repeat;
    }    
    .backgroundWT{
//        background-image: url(../../../assets/imgs/WT.png);
//        background-repeat: no-repeat;
//        background-position: center;
    }
    .backgroundIDEA{
//        background-image: url(../../../assets/imgs/ideas.png);
//        background-repeat: no-repeat;
    }
    
}
