<ion-header *ngIf="pageElementsLoaded">
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			{{pageElements.recoverUserText}}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding *ngIf="pageElementsLoaded" class="has-header">
	<ion-grid>
		<!-- Phase 1 -->
		<ion-row *ngIf="phase1">
		
			<!-- Name not found flag -->
			<ion-col *ngIf="inputNotFound">
				{{pageElements.cantFindNameText}}
			</ion-col>
			
			<!-- First name label and input field -->
			<ion-col>
				<ion-label color="primary">{{pageElements.nameOfAccountText}}</ion-label>
				<ion-input placeholder="{{pageElements.firstNameText}}" [(ngModel)]="firstName"></ion-input>
			</ion-col>
			
			<!-- Find name button -->
			<ion-col>
				<button ion-button (click)="submitPhase1()">{{pageElements.findNameText}}</button>
			</ion-col>
		</ion-row>
		
		<!-- Phase 2 -->
		<ion-row *ngIf="phase2">
		
			<!-- Incorrect answer flag -->
			<ion-col *ngIf="incorrectInput">
				{{pageElements.wrongAnswerText}}
			</ion-col>
			
			<!-- Security question, security answer label, and input field -->
			<ion-col>
				{{securityQuestion}}
				<ion-label color="primary">{{pageElements.answerToQuestionText}}</ion-label>
				<ion-input placeholder="{{pageElements.securityAnswerText}}" [(ngModel)]="securityAnswer"></ion-input>
			</ion-col>
			
			<!-- Submit answer button -->
			<ion-col>
				<button ion-button (click)="submitPhase2()">{{pageElements.submitAnswerText}}</button>
			</ion-col>
		</ion-row>
		
		<!-- Phase 3 -->
		<ion-row *ngIf="phase3">
		
			<!-- Invalid pin length flag -->
			<ion-col *ngIf="invalidPin">
				{{pageElements.invalidPinText}}
			</ion-col>
			
			<!-- Pin label and input field -->
			<ion-col>
				<ion-label color="primary">{{pageElements.enterNewPinText}}</ion-label>
				<ion-input placeholder="{{pageElements.characterLengthText}}" [(ngModel)]="pin"></ion-input>
			</ion-col>
			
			<!-- Set new pin button -->
			<ion-col>
				<button ion-button (click)="submitPhase3()">{{pageElements.setNewPinText}}</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>