page-employee {
    
    .has-header {
    	top: 44px;
	position:absolute;
	width: 100%;
    }
    
    .buttonspace{
//        margin-bottom: 20px;
    }
    
    .cardPadding{
        padding: 10px; 
    }
    
    .card{
        width: 95%;
    }
    
    .cardH5{
        font-weight: bold;
        margin-left: 0px;
    }
}
