<ion-header *ngIf="pageElementsLoaded">
    
    <ion-navbar hideBackButton="true" >
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{pageElements.resourceTitleText}}</ion-title>
    </ion-navbar>
    
</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
    <ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded" class="has-header">
             
             
        <h3 class="title"></h3>
    
        These are programs created to assist employees in achieving workplace 
        happiness and wellbeing. 
    
        <button ion-button block class = "buttonspace"[navPush]="emprev1">Assistance Programs</button>
        
        After you have become ill or injured, you may need time off to recover. 
        Here is what you need to know about taking leave and compensation. 

        <button ion-button block class = "buttonspace" [navPush]="emprev2">Leave Programs</button>
    
        Other helpful contact resources that maybe useful for you.
        
        <button ion-button block class = "buttonspace" [navPush]="emprev3">Helpful Resources</button>         
             
             

<!--    <button ion-button block (click)="JumpToLink(clObj)"> {{pageElements.buttonText1}} </button>
    
    <button ion-button block (click)="JumpToLink(eapObj)"> {{pageElements.buttonText2}} </button>
    
    <button ion-button block (click)="JumpToLink(cmhaObj)"> {{pageElements.buttonText3}} </button>
    
    <button ion-button block (click)="JumpToLink(cismObj)"> {{pageElements.buttonText4}} </button>

    <button ion-button block (click)="JumpToLink(rmrObj)"> {{pageElements.buttonText5}} </button>
    
    <button ion-button block (click)="JumpToLink(rwpObj)"> {{pageElements.buttonText6}} </button>
    
    <button ion-button block (click)="JumpToLink(ohsObj)"> {{pageElements.buttonText7}} </button>
    
    <button ion-button block (click)="JumpToLink(hppObj)"> {{pageElements.buttonText8}} </button>

    <button ion-button block (click)="JumpToLink(hhlObj)"> {{pageElements.buttonText9}} </button>

    <button ion-button block (click)="JumpToLink(sunObj)"> {{pageElements.buttonText10}} </button> -->
   
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button block>Aidez moi / Help Me</button>
    </ion-toolbar>
</ion-footer>
