<ion-header *ngIf="pageElementsLoaded">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{pageElements.resourceTitleText}}</ion-title>
    </ion-navbar>
</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
	<ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded" class="has-header">

    <button ion-button block (click)="JumpToLink(clObj)"> {{pageElements.buttonText1}} </button>
    
    <button ion-button block (click)="JumpToLink(eapObj)"> {{pageElements.buttonText2}} </button>
    
    <button ion-button block (click)="JumpToLink(cmhaObj)"> {{pageElements.buttonText3}} </button>
    
    <button ion-button block (click)="JumpToLink(cismObj)"> {{pageElements.buttonText4}} </button>

    <button ion-button block (click)="JumpToLink(rmrObj)"> {{pageElements.buttonText5}} </button>
    
    <button ion-button block (click)="JumpToLink(rwpObj)"> {{pageElements.buttonText6}} </button>
    
    <button ion-button block (click)="JumpToLink(ohsObj)"> {{pageElements.buttonText7}} </button>
    
    <button ion-button block (click)="JumpToLink(hppObj)"> {{pageElements.buttonText8}} </button>

    <button ion-button block (click)="JumpToLink(hhlObj)"> {{pageElements.buttonText9}} </button>

    <button ion-button block (click)="JumpToLink(sunObj)"> {{pageElements.buttonText10}} </button>
   
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button block>Aidez moi / Help Me</button>
    </ion-toolbar>
</ion-footer>
