<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DailyEntry</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div text-center>
        <img src="../../assets/imgs/feelings/face10.png" class="feelingImg"/>
    </div>

    <ion-list> 
        <ion-item>
            <ion-range min="0" max="10" [(ngModel)]="moodScore" color="secondary" pin="true">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>10</ion-label>
            </ion-range>
        </ion-item>    
    
        <ion-item>
            <ion-range min="0" max="10" [(ngModel)]="sleepScore" color="secondary" pin="true">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>10</ion-label>
            </ion-range>
        </ion-item>

        <ion-item>
            <ion-range min="0" max="10" [(ngModel)]="dietScore" color="secondary" pin="true">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>10</ion-label>
            </ion-range>
        </ion-item>

        <ion-item>
            <ion-range min="0" max="10" [(ngModel)]="stressScore" color="secondary" pin="true">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>10</ion-label>
            </ion-range>
        </ion-item>    
    </ion-list>
    
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block>Aidez moi / Help Me</button>
  </ion-toolbar>
</ion-footer>

<!-- <md-content>
    <p>Trial 1 </p>
 </md-content> 
-->


<!--
<md-content layout-align="start center" layout="column" class="wt dailyEntry">

    <img src="imgs/feelings/face{{totalScore}}.png" class="feelingImg"/>
	
	<div layout="row" layout-padding layout-align="center center">
		<h2 class="sliderHeader" aria-label="{{pageElements.sliderHeaderText}}">
			{{pageElements.sliderHeaderText}}
		</h2>
	</div>

    <md-slider aria-label="{{pageElements.moodSliderAL}}" flex min="1" max="10" ng-model="moodScore" class="slider md-primary" md-discrete></md-slider>
    <h3 class="sliderHeader" aria-labe="{{pageElements.moodSentenceText}}">{{pageElements.moodSentenceText}}</h3>

    <md-slider aria-label="{{pageElements.sleepSliderAL}}" flex min="1" max="10" ng-model="sleepScore" class="slider md-primary" md-discrete></md-slider>
    <h3 class="sliderHeader" aria-labe="{{pageElements.sleepSentenceText}}">{{pageElements.sleepSentenceText}}</h3>
	
    <md-slider aria-label="{{pageElements.dietSliderAL}}" flex min="1" max="10" ng-model="dietScore" class="slider md-primary" md-discrete></md-slider>
    <h3 class="sliderHeader" aria-labe="{{pageElements.dietSentenceText}}">{{pageElements.dietSentenceText}}</h3>

    <md-slider aria-label="{{pageElements.stressSliderAL}}" flex min="1" max="10" ng-model="stressScore" class="slider md-primary" md-discrete></md-slider>
    <h3 class="sliderHeader" aria-labe="{{pageElements.stressSentenceText}}">{{pageElements.stressSentenceText}}</h3>	

    <md-input-container class="md-block descriptionContainer">
        <label aria-label="{{pageElements.whatsOnYourMindAL}}">{{pageElements.whatsOnYourMindText}}</label>
        <textarea ng-model="entryNote" md-maxlength="500" maxlength="500" class="descriptionText"></textarea>
    </md-input-container>

    <div>
        <md-button class="md-raised md-primary" ng-click="saveEntry()" aria-label="{{pageElements.doneText}}">{{pageElements.doneText}}</md-button>
    </div>

</md-content>

-->