<ion-header>
    <ion-navbar hideBackButton="true" >
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title attr.aria-label="{{pageElements.dailyEntryText}}" *ngIf="pageElementsLoaded">{{pageElements.dailyEntryText}}</ion-title>
    </ion-navbar>

</ion-header>

<!-- Loading Div -->
<div *ngIf="!pageElementsLoaded">
    <ion-spinner></ion-spinner>
</div>

<ion-content padding class="center">
    <ion-grid *ngIf="pageElementsLoaded">
        <ion-row>
            <ion-col>
                <div text-center>
                    <img src="../../../assets/imgs/feelings/face{{data.moodScore}}.png" class="feelingImg">         
                </div>
            </ion-col>
        </ion-row>

       	<!-- Date and Time options for dailyEntry -->
         <ion-row>
                <ion-col>
                        <ion-item>
                                <ion-label>Date</ion-label>
                                <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data.date"></ion-datetime>
                        </ion-item>
                </ion-col>
        </ion-row>


        <ion-row>
                <ion-col>
                        <ion-item>
                          <ion-label>Time</ion-label>
                          <ion-datetime displayFormat="hh:mm A" [(ngModel)]="data.dateTime"></ion-datetime>
                        </ion-item>
                </ion-col>
        </ion-row>
        
        <form (ngSubmit)="saveData()">

            <ion-item no-lines>
                <ion-range min="1" max="10" [(ngModel)]="data.moodScore" name="moodScore" color="moodColor" pin="true" class="slider" (ionChange)="updateScores()">
                    <ion-label range-left attr.aria-label="{{pageElements.moodText}}">{{pageElements.moodText}}</ion-label>
                </ion-range>
            </ion-item>      

            <ion-item no-lines>
                <ion-range min="1" max="10" [(ngModel)]="data.dietScore" name="dietScore" color="dietColor" pin="true" class="slider" (ionChange)="updateScores()">
                    <ion-label range-left attr.aria-label="{{pageElements.dietText}}">{{pageElements.dietText}}</ion-label>
                </ion-range>
            </ion-item> 

            <ion-item no-lines>
                <ion-range min="1" max="10" [(ngModel)]="data.sleepScore" name="sleepScore" color="sleepColor" pin="true" class="slider" (ionChange)="updateScores()">
                    <ion-label range-left attr.aria-label="{{pageElements.sleepText}}">{{pageElements.sleepText}}</ion-label>
                </ion-range>
            </ion-item> 

            <ion-item no-lines>
                <ion-range min="1" max="10" [(ngModel)]="data.stressScore" name="stressScore" color="stressColor" pin="true" class="slider" (ionChange)="updateScores()">
                    <ion-label range-left attr.aria-label="{{pageElements.stressText}}">{{pageElements.stressText}}</ion-label>
                </ion-range>
            </ion-item>       

            <ion-item no-lines>
                <ion-label attr.aria-label="{{pageElements.descriptionText}}">{{pageElements.descriptionText}}</ion-label>
                <ion-input type="text" placeholder="Description" [(ngModel)]="data.entryNote" name="entryNote" required="" attr.aria-label="{{pageElements.descriptionInput}}"></ion-input>
            </ion-item>

            <button ion-button type="submit" block attr.aria-label="{{pageElements.saveDataText}}">{{pageElements.saveDataText}}</button>
        </form>
    </ion-grid>
</ion-content>