<ion-header *ngIf="pageElementsLoaded">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{pageElements.resourceTitleText}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding *ngIf="pageElementsLoaded" class="has-header">

    <h3 class="title">{{pageElements.resPageText}}</h3>

    <button ion-button block (click)="JumpToLink(oneObj)"> {{pageElements.buttonText1}} </button>
    
    <button ion-button block (click)="JumpToLink(twoObj)"> {{pageElements.buttonText2}} </button>

    <button ion-button block (click)="JumpToLink(threeObj)"> {{pageElements.buttonText3}} </button>

    <button ion-button block (click)="JumpToLink(fourObj)"> {{pageElements.buttonText4}} </button>

    <button ion-button block (click)="JumpToLink(fiveObj)"> {{pageElements.buttonText5}} </button>
    
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button block>Aidez moi / Help Me</button>
    </ion-toolbar>
</ion-footer>