page-analyticDashboard {
    .border {
	border-style: solid;
	border-width: 1px;
    }
	
    .has-header {
	top: 44px;
	position:absolute;
	width: 100%;
    }
    
    .chartWrapper {
    position: relative;
    }

    .chartWrapper > canvas {
        position: absolute;
        left: 0;
        top: 0;
        pointer-events:none;
    }

    .chartAreaWrapper {
        width: 100%;
        overflow-x: scroll;
    }
}