<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
 
<ion-card>
  <ion-card-header>

<ion-item>
      <ion-icon  name="cloud-upload" item-start></ion-icon>
   Wellness Entries
   <ion-badge item-end>{{dataService.wellness.length}}</ion-badge>
</ion-item>

  </ion-card-header>

  <ion-list>
    <button ion-item *ngFor="let wellness of dataService.wellness" >
      <ion-icon name="happy" item-start></ion-icon>
     Mood Data: {{wellness.moodScore}}
    </button>
  </ion-list>
</ion-card>


<ion-card>
  <ion-card-header>

<ion-item>
      <ion-icon  name="happy" item-start></ion-icon>
 Add an Entry
   
</ion-item>

  </ion-card-header>

  <ion-list>
  
  <ion-label >Mood</ion-label>
 <ion-range [(ngModel)]="moodScore" min="1" max="5">
    <ion-icon range-left small name="sad"></ion-icon>
    <ion-icon range-right name="happy"></ion-icon>
  </ion-range>

  <ion-label >Sleep</ion-label>
 <ion-range [(ngModel)]="sleepScore" min="1" max="5">
    <ion-icon range-left small name="sunny"></ion-icon>
    <ion-icon range-right name="moon"></ion-icon>
  </ion-range>

  <ion-label >Stress</ion-label>
 <ion-range [(ngModel)]="stressScore" min="1" max="5">
    <ion-icon range-left small name="add"></ion-icon>
    <ion-icon range-right name="remove"></ion-icon>
  </ion-range>

  <ion-label >Diet</ion-label>
 <ion-range [(ngModel)]="dietScore" min="1" max="5">
    <ion-icon range-left small name="pizza"></ion-icon>
    <ion-icon range-right name="bicycle"></ion-icon>
  </ion-range>


  <ion-item>
    <ion-label floating>Notes</ion-label>
    <ion-input [(ngModel)]="entryNote" type="text"></ion-input>
  </ion-item>

<button ion-button full color="primary"   (click)="submitWellness()">Submit Wellness Score</button>


  </ion-list>
</ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <button ion-button block>Aidez moi / Help Me</button>
  </ion-toolbar>
</ion-footer>



<!--  <md-content ng-cloak> 
<ion-content padding>
	<div layout="column">  
            <ion-card>
                <ion-card-content>
<!--            <md-card flex="50" class="slider" id="slider">
			<!-- Question Selection -->
<!--			<div layout="row">
				<div layout="row" layout-padding layout-align="start center" flex>
					<div layout="row">
			<!--			<div class="moodText" layout="column" layout-padding>
                                                   <ion-item>
                                                        <ion-label>Pepperoni</ion-label>
                                                        <ion-checkbox [(ngModel)]="userInput.moodCheckbox" aria-label="{{pageElements.moodCheckboxAL}}"></ion-checkbox>
                                                    </ion-item>
                                                    
                        				<md-checkbox class="md-primary" ng-model="userInput.moodCheckbox" aria-label="{{pageElements.moodCheckboxAL}}">
								{{pageElements.moodText}}
							</md-checkbox>
                        
						</div>
                        -->
                        <!--                    
						<div class="sleepText" layout="column" layout-padding>
							<md-checkbox class="md-primary" ng-model="userInput.sleepCheckbox" aria-label="{{pageElements.sleepCheckboxAL}}">
								{{pageElements.sleepText}}
							</md-checkbox>
						</div>
						<div class="stressText" layout="column" layout-padding>
							<md-checkbox class="md-primary" ng-model="userInput.stressCheckbox" aria-label="{{pageElements.stressCheckboxAL}}">
								{{pageElements.stressText}}
							</md-checkbox>
						</div>
						<div class="dietText" layout="column" layout-padding>
							<md-checkbox class="md-primary" ng-model="userInput.dietCheckbox" aria-label="{{pageElements.dietCheckboxAL}}">
								{{pageElements.dietText}}
							</md-checkbox>
						</div>
                        -->
<!--					</div>
				</div>
			</div>		
          <!--      </md-card> -->
<!--                </ion-card-content>
        </ion-card>
<!--		
		<div flex ng-show="!pageElements.loadComplete && pageElements.loadStarted && !pageElements.hideAllElements">
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		</div>
		
		<md-card ng-show="pageElements.hideAllElements" layout-align="center center">
			<div aria-label="{{pageElements.noCheckinsFoundAL}}">
				{{pageElements.noCheckinsFound}}!
			</div>
		</md-card>
-->		
		<!-- Graph -->
<!--		<md-card>
			<div layout="row">
				<div id="chartDiv" layout-fill>
					<canvas id="mainChart"></canvas>
				</div>	
			</div>
		</md-card>
			
		<div layout="row"  layout-align="center center">
			<div layout="column" class="dietBackground" layout-align="center center">
				<div aria-label="{{pageElements.dietScoreAverageAL}} {{dietScoreAverage}}">
					<strong>{{pageElements.dietText}}:<br></strong> {{dietScoreAverage}}
				</div>
			</div>
			<div layout="column" class="moodBackground" layout-align="center center">
				<div aria-label="{{pageElements.moodScoreAverageAL}} {{moodScoreAverage}}">
					<strong>{{pageElements.moodText}}:<br></strong> {{moodScoreAverage}}
				</div>
			</div>
			<div layout="row" class="stressBackground" layout-align="center center">
				<div aria-label="{{pageElements.stressScoreAverageAL}} {{stressScoreAverage}}">
					<strong>{{pageElements.stressText}}:<br></strong> {{stressScoreAverage}}
				</div>
			</div>
			<div layout="row" class="sleepBackground" layout-align="center center">
				<div aria-label="{{pageElements.sleepScoreAverageAL}} {{sleepScoreAverage}}">
					<strong>{{pageElements.sleepText}}:<br></strong> {{sleepScoreAverage}}
				</div>
			</div>					
		</div>		
				
		<div layout="column" layout-align="center center"  style="height: 100%;">
			<div layout-padding aria-label="From Date">
				<md-datepicker ng-model="userInput.fromDate" md-max-date="userInput.toDate" md-placeholder="Enter date"></md-datepicker>
			</div>
			<div layout-padding class="md-datePicker-align" aria-label="To Date">
				<md-datepicker ng-model="userInput.toDate" md-min-date="userInput.fromDate" md-placeholder="Enter date"></md-datepicker>
			</div>
			<div layout="row">
				<md-button class="md-raised md-primary buttonBold" ng-click="generateChart(userInput.fromDate, userInput.toDate, false)" aria-label="{{pageElements.toDateAL}}">{{pageElements.generateText}}</md-button>
				<md-button class="md-raised md-primary buttonBold" ng-click="redirectToCheckinLog()" aria-label="{{pageElements.fromDateAL}}">{{pageElements.checkinLogText}}</md-button>
			</div>
		</div>
                -->
<!--	</div>
</ion-content>
<!-- </md-content>  -->


