<ion-header *ngIf="pageElementsLoaded">
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{pageElements.checkinLogInfoText}}</ion-title>
	</ion-navbar>
</ion-header>

<!-- Loading Div -->
<div *ngIf="!pageElementsLoaded">
	<ion-spinner></ion-spinner>
</div>

<ion-content padding style="height: 100%" *ngIf="pageElementsLoaded" class="has-header">

    <ion-grid>
		<ion-row text-center>
			<ion-col>
				<img src="../../assets/imgs/feelings/face{{totalScore}}.png" class="feelingImg">
			</ion-col>
		</ion-row>
		
		<ion-row text-center>
			<ion-col>
				{{pageElements.dateText}}: {{userRecords.date}}
			</ion-col>
		</ion-row>
		
		<ion-row text-center>
			<ion-col>
				{{userRecords.entryNote}}
			</ion-col>
		</ion-row>
		
		<ion-row text-center>
			<ion-col col-4>
				{{pageElements.moodText}}: {{userRecords.moodScore}}
			</ion-col>
			
			<ion-col col-4 offset-4>
				{{pageElements.dietText}}: {{userRecords.dietScore}}
			</ion-col>
		</ion-row>
		
		<ion-row text-center>
			<ion-col col-4>
				{{pageElements.sleepText}}: {{userRecords.sleepScore}}
			</ion-col>
			
			<ion-col col-4 offset-4>
				{{pageElements.stressText}}: {{userRecords.stressScore}}
			</ion-col>
		</ion-row>
		
		<ion-row text-center>
			<ion-col>
				<button ion-button block>{{pageElements.editText}}</button>
			</ion-col>
			<ion-col>
				<button ion-button block>{{pageElements.deleteText}}</button>
			</ion-col>
		</ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button block>Aidez moi / Help Me</button>
    </ion-toolbar>
</ion-footer>

<!--
<md-content layout-align="start center" layout="column">

    <img src="imgs/feelings/face{{checkinTotal}}.png" class="feelingImg"/>

    <div layout="row" layout-align="center">
        <div aria-label="{{pageElements.previousAL}}" class="navArrowBtn" ng-class="{'disabled': !hasPrev}" ng-click="prevEntry()">
            <img src="imgs/leftArrow.png" class="arrow">
        </div>
        <div aria-label="{{pageElements.nextAL}}" class="navArrowBtn" ng-class="{'disabled': !hasNext}" ng-click="nextEntry()">
            <img src="imgs/rightArrow.png" class="arrow">
        </div>
    </div>

    <h3>{{pageElements.onText}} {{entry.date | date: 'longDate'}}, {{pageElements.youWereFeelingText}}</h3>

	<div layout="row"  layout-align="center center">
		<div layout="column" class="dietBackground" layout-align="center center">
			<div aria-label="{{pageElements.dietText}}: {{entry.dietScore}}">
				<strong>{{pageElements.dietText}}<br></strong> {{entry.dietScore}}
			</div>
		</div>
		<div layout="column" class="moodBackground" layout-align="center center">
			<div aria-label="{{pageElements.moodText}}: {{entry.moodScore}}" layout-align="center center">
				<strong>{{pageElements.moodText}}<br></strong> {{entry.moodScore}}
			</div>
		</div>
		<div layout="row" class="stressBackground" layout-align="center center">
			<div aria-label="{{pageElements.stressText}}: {{entry.stressScore}}">
				<strong>{{pageElements.stressText}}<br></strong> {{entry.stressScore}}
			</div>
		</div>
		<div layout="row" class="sleepBackground" layout-align="center center">
			<div aria-label="{{pageElements.sleepText}}: {{entry.sleepScore}}">
				<strong>{{pageElements.sleepText}}<br></strong> {{entry.sleepScore}}
			</div>
		</div>					
	</div>
					
	
	<!-- Center doesn't work atm -->
<!--	<div layout="row" flex layout-align="center center">
		<div flex aria-label="Notes: {{entry.entryNote}}">
			<p ng-show="notesProvided" ng-bind="entry.entryNote" class="descriptionText"></p>
			<p ng-show="!notesProvided" class="descriptionText">{{pageElements.noNotesText}}</p>
		</div>
	</div>
</md-content>
-->
