page-assessment {
    .has-header {
    	top: 44px;
	position:absolute;
	width: 100%;
    }

    .assessmentImg{
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
