page-resinfo {

    img{
        width: 100%;
		max-height: initial;
		bottom: 50%;
    }
    
    .resBanner{
        display: block;
        width: 100%;
		overflow: hidden;
        padding-top: 40px;
		max-height: 175px;
    }
	
	.mainContent {
		height: 100%;
	}
    
    
}
