<md-content>

	<!-- Upper Banner -->
	<div layout="row">
		<div flex-offset="90" flex>
			<md-button class="md-raised button" ng-click="addDiaryEntry()" aria-label="{{pageElements.addDiaryEntry}}">{{pageElements.addDiaryEntry}}</md-button>
		</div>
	</div>
	
	<!-- Collection of diary entries -->
	<div layout="column">
		<div ng-hide="diaryEntries==null" ng-repeat="diaryItem in diaryEntries">
			<md-card ng-click="viewDiaryEntry(diaryItem.entryID)">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline" aria-label="{{pageElements.titleAL}}: {{diaryItem.title}}">{{diaryItem.title}}</span>
						<span class="md-subhead" aria-label="{{pageElements.subtitleAL}}: {{diaryItem.subtitle}}">{{diaryItem.subtitle}}</span>
						<span class="md-subhead" aria-label="{{pageElements.dateEnteredAL}}: {{diaryItem.dateCreated}}">{{diaryItem.dateCreated}}</span>
					</md-card-title-text>
					
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-raised button" ng-click="editDiaryEntry(diaryItem.entryID)" aria-label="{{pageElements.editDiaryEntryAL}}: {{pageElements.diaryItem.title}}">{{pageElements.editText}}</md-button>
					<md-button class="md-raised button" ng-click="deleteDiaryEntry(diaryItem.entryID)" aria-label="{{pageElements.deleteDiaryEntryAL}}: {{pageElements.diaryItem.title}}">{{pageElements.deleteText}}</md-button>
				</md-card-actions>
			</md-card>
		</div>
		<md-card ng-show="diaryEntries.length == 0">		
			<md-card-title>	
				<md-card-title-text aria-label="{{pageElements.noDiaryEntries}}">
					<span>{{pageElements.noDiaryEntries}}</span>
				</md-card-title-text>
			</md-card-title>
		</md-card>
	</div>
</md-content>