<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addData()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            
            <header role="banner"></header>
            <ion-col>
                <h2 class="md-display-1" aria-label="Mental Health App">Mental Health App</h2>
                <button ion-button ng-click="setLanguage('en')" aria-label="English" ><strong>English</strong></button> <BR>
                <button ion-button href="#/terms-en" aria-label="Terms and Conditions" >Terms and Conditions</button> 
            </ion-col>

            <ion-col>
                <div flex lang="fr" layout="column">
                    <h2 class="md-display-1" aria-label="App Santé mentale">App Santé Mentale</h2>
                    <button ion-button ng-click="setLanguage('fr')" aria-label="Français" ><strong>Français</strong></button> <BR>
                    <button ion-button href="#/terms-fr" aria-label="Termes et Conditions" >Termes et Conditions</button>                     
                </div>
            </ion-col>
        
        </ion-row>     
        <br class="clearfix" />
       <p class="text-center ver" aria-label="Version 1.0"><small>Version 1.0</small></p>

    </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block>Aidez moi / Help Me</button>
  </ion-toolbar>
</ion-footer>