<ion-header *ngIf="pageElementsLoaded">
  <ion-navbar hideBackButton="true" >
    <button ion-button menuToggle>
        <ion-icon name="menu" persistent="true"></ion-icon>
    </button>
    <ion-title>
      {{pageElements.homeTitleText}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addData()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
    <ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded" class="has-header">

    <div text-center>
        <img src="../../../assets/imgs/CF.png" class="MapleLeafImg">         
    </div> 
    
    <ion-grid>
        <ion-row>
            <ion-col>
<!--                <h4 class="title">Where do you score?</h4>         -->
            <div text-center>
                <img src="../../../assets/imgs/MHCM.png" class="featureImg">         
            </div> 
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
<!--                <button ion-button block [navPush]="assessment">Mental Health Continuum</button>       -->
                <button ion-button block [navPush]="assessment">{{pageElements.buttonText1}}</button>    
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>        
            <div text-center>
                <img src="../../../assets/imgs/WT.png" class="featureImg">         
            </div> 
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
<!--                <button ion-button block [navPush]="assessment">Mental Health Continuum</button>       -->
                <button ion-button block [navPush]="wellnesstracker">{{pageElements.buttonText2}}</button>    
            </ion-col>
        </ion-row>        
        
    </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block>Aidez moi / Help Me</button>
  </ion-toolbar>
</ion-footer>