<ion-header *ngIf="pageElementsLoaded">
 <ion-navbar hideBackButton="true" >
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{pageElements.AssProgTitleText}}</ion-title>
    </ion-navbar>
</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
    <ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded" class="has-header">

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class = "cardPadding"> 
                <ion-row>
                    <div class ="cardH5" >{{pageElements.title1}}</div> 
                    <p>{{pageElements.paragraph1Text}}</p>                     
                    <a href="link owed by COMs" class="buttonLink">
                        <button ion-button block>{{pageElements.button1}}</button>
                    </a>
                    
                </ion-row>
                </ion-card>
                
                <ion-card class = "cardPadding">
                <ion-row>
                    <div class ="cardH5" >{{pageElements.title2}}</div> 
                    <p>{{pageElements.paragraph2Text}}</p>
                    
                    <button ion-button block (click)="JumpToLink(oneObj)"> 
                         {{pageElements.button2}}
                    </button>                 
                    
                </ion-row>
                </ion-card>
                
                <ion-card class = "cardPadding">    
                <ion-row>
                    <div class ="cardH5" >{{pageElements.title3}}</div> 
                    <p>{{pageElements.paragraph3Text}}</p>   
                                        
                    <a href="mailto:mailto:leanna.haythorne@csc-scc.gc.ca" class="buttonLink">
                        <button ion-button block>{{pageElements.button3}}</button>
                    </a>
                </ion-row>
                </ion-card>
                
                <ion-card class = "cardPadding">    
                <ion-row>
                    <div class ="cardH5" >{{pageElements.title4}}</div> 
                    <p>{{pageElements.paragraph4Text}}</p> 	
                </ion-row>
                </ion-card>
                
                <ion-card class = "cardPadding">    
                <ion-row> 
                    
                    <div class ="cardH5" >{{pageElements.title5}}</div> 
                    <p>{{pageElements.paragraph5Text}}</p>
                    
                </ion-row>   
                </ion-card>    
                    
                <ion-card class = "cardPadding">    
                <ion-row>
                    
                    <div class ="cardH5" >{{pageElements.title6}}</div> 
                    <p>{{pageElements.paragraph6Text}}</p>  

                    <a href="tel:+1-844-661-7857" class="buttonLink">
                        <button ion-button block>{{pageElements.button6}}</button>
                    </a> 
                    
                </ion-row>  
                </ion-card>
                
                <ion-card class = "cardPadding">    
                <ion-row>
                    
                    <div class ="cardH5" >{{pageElements.title7}}</div> 
                    <p>{{pageElements.paragraph7Text}}</p>
                                        
                    <a href="mailto:GENNHQRTWDTA@csc-scc.gc.ca" class="buttonLink">
                        <button ion-button block>{{pageElements.button7}}</button>
                    </a> 
                    
                </ion-row>  
               </ion-card>     
                 
                <ion-row class = "padbutton"> 
                    <h5>{{pageElements.moreHelpfulLinksText}}</h5>  
                                        
                    <button ion-button block [navPush]="resPublic">{{pageElements.bottomButton}}</button>
                
                </ion-row>  
                
            </ion-col>
            
        </ion-row> 
                 
    </ion-grid>
   
</ion-content>


