page-empRev2 {
    
       
    .has-header {
    	top: 44px;
	position:absolute;
	width: 100%;
    }

    .buttonLink{
        width: 100%;
//        padding-left: 10px;
//        padding-right: 10px;
//        padding-bottom: 5px;
    }
    .padbutton{
        margin-bottom: 44px;
    }
    
    .cardPadding{
        padding: 10px; 
    }
    .card{
        width: 95%;
    }
    .cardH5{
        font-weight: bold;
        margin-left: 0px;
    }
    h5{
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    p{
        margin: 5px;
    }

}
