page_toc_fr {
    .has-header {
    	top: 44px;
	position:absolute;
	width: 100%;
    }
    
    .MapleLeafImg{
        height: auto;
        width: 25%;
        
    }
    .featureImg{
        height: auto;
        width: auto;
        padding-top:  10px;
    }
    .title{
        padding-top: 20px;
    }
}
