// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Added by Tim Jodoin  18-07-2018   )  
// $app-background: linear-gradient(to bottom, color($colors, light) 0%, color($colors, dark) 100%);
//$app-background: linear-gradient(to bottom, color(grey, light) 0%, color(white, dark) 100%);

$app-background: linear-gradient(80deg, #E9EEF2, #FBFCFD 50%),
                    linear-gradient(217deg, #FBFCFD, #E9EEF2 70.71%),
                    linear-gradient(127deg, #E9EEF2, #FBFCFD 70.71%),
                    linear-gradient(336deg, #FBFCFD, #E9EEF2 70.71%);

$app-toolbar:   linear-gradient(to right, #002E5D, #6CACE4);

$app-menu-content: linear-gradient(to bottom left, #002E5D, #6CACE4);
$app-menu-title: #ffffff;


$background-color: transparent;
$toolbar-background: transparent;

$toolbar-ios-title-font-size: 18px;
$toolbar-md-title-font-size: 18px;
$toolbar-wp-button-font-size: 18px;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    	#488aff,
  secondary:  	#32db64,
  danger:     	#f53d3d,
  light:      	#f4f4f4,
  dark:       	#222,
  moodColor:	#FF9800,
  dietColor:	#4CAF50,
  stressColor:	#D32F2F,
  sleepColor: 	#01579B,
  GenericColor: #002E5D
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";