<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			New User
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	
	
	<ion-grid>
		<!-- Name already used flag -->	
		<ion-row *ngIf="firstNameFound">
			<ion-col>
				That first name is already taken!
			</ion-col>
		</ion-row>
		
		<!-- Name cannot be blank flag -->
		<ion-row *ngIf="invalidName">
			<ion-col>
				Your first name cannot be blank
			</ion-col>
		</ion-row>
		
		<!-- First name label and input field -->
		<ion-row>
			<ion-col>
				<ion-label color="primary">First Name</ion-label>
				<ion-input placeholder="First Name" [(ngModel)]="firstName"></ion-input>
			</ion-col>
		</ion-row>
		
		<!-- Invalid pin length flag -->
		<ion-row *ngIf="invalidPinLength">
			<ion-col>
				Your pin has to be between 4-6 characters
			</ion-col>
		</ion-row>
		
		<!-- Pin label and input field -->
		<ion-row>
			<ion-col>
				<ion-label color="primary">Pin</ion-label>
				<ion-input placeholder="4-6 Character Pin" [(ngModel)]="pin"></ion-input>
			</ion-col>
		</ion-row>
		
		<!-- Blank security question flag -->
		<ion-row *ngIf="invalidSecurityQuestion">
			<ion-col>
				Your security question cannot be blank!
			</ion-col>
		</ion-row>
		
		<!-- Security question label and input field -->
		<ion-row>
			<ion-col>
				<ion-label color="primary">Security Question</ion-label>
				<ion-input placeholder="Security Question" [(ngModel)]="securityQuestion"></ion-input>
			</ion-col>
		</ion-row>
		
		<!-- Blank security answer flag -->
		<ion-row *ngIf="invalidSecurityAnswer">
			<ion-col>
				Your security answer cannot be blank!
			</ion-col>
		</ion-row>
		
		<!-- Security answer label and input flag -->
		<ion-row>
			<ion-col>
				<ion-label color="primary">Security Answer</ion-label>
				<ion-input placeholder="Security Answer" [(ngModel)]="securityAnswer"></ion-input>
			</ion-col>
		</ion-row>
		
		<!-- Create user button -->
		<ion-row>
			<ion-col>
				<button ion-button (click)="createUser()">Create User!</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>