<md-content <md-content >
    <div layout="row" layout-align="end center">

	<p> Div </p>
	
    </div>

    <md-card>

	<p> md-card </p>

    <md-slider flex min="1" max="10" ng-model="var1" class="slider md-primary" md-discrete></md-slider>
    <h3 class="sliderHeader">This is a Slider</h3>

	<md-button class="md-raised md-primary" ng-click="saveEntry()" href="#analyticDashboard">This is a Button</md-button>
	
	    <md-input-container class="md-block descriptionContainer">
        <label>This is a test box</label>
        <textarea ng-model="entryNote" md-maxlength="500" maxlength="500" class="descriptionText"></textarea>
    </md-input-container>

	
	<md-checkbox class="md-primary" ng-model="data.sleepCheckbox" aria-label="Sleep Checkbox">
		This is a check box,
	</md-checkbox>
	
    </md-card>
</md-content>