<md-content>
	<div layout="column" layout-align="center center">
		<div aria-label="{{pageElements.invalidNameText}}" ng-show="pageElements.invalidName">
			{{pageElements.invalidNameText}}!
		</div>
		
		<div  aria-label="{{pageElements.invalidAnswerText}}" ng-show="pageElements.invalidAnswer">
			{{pageElements.invalidAnswerText}}!
		</div>
		
		<div aria-label="{{pageElements.invalidNewPinText}}"  ng-show="pageElements.invalidPin">
			{{pageElements.invalidNewPinText}}
		</div>
				
		<div ng-show="pageElements.phase1">
			<div aria-label="{{pageElements.phase1Text}}">
				{{pageElements.phase1Text}}
			</div>
			<div aria-label="{{pageElements.firstNameAL}}">
				<input type="text" aria-label="First Name: {{userInput.firstName}}" ng-model="userInput.firstName" name="firstName"><br>
			</div>
		</div>
		
		<div ng-show="pageElements.phase2">
			<div aria-label="{{pageElements.questionText}}">
				{{pageElements.questionText}}: 
			</div>
			
			<div aria-label="{{question}}">
				"{{question}}"?
			</div>
			<div aria-label="{{pageElements.answerText}}">
				{{pageElements.answerText}}: 
			</div>
			
			<div aria-label="{{userInput.answer}}">
				<input type="text" ng-model="userInput.answer" name="answer"><br>
			</div>
			
		</div>
		
		<div ng-show="pageElements.phase3" layout="column">
			<div aria-label="{{pageElements.setYourNewPinText}}">
				{{pageElements.setYourNewPinText}}
			</div>
			
			<div>
				<div layout="row" flex>
					<input type="text" ng-model="userInput.pin" name="pin" aria-label="{{userInput.pin}}"><br>
				</div>
			
				<div flex layout="row">
					<div flex>
						<md-button class="md-raised" ng-click="addNumbers(1)" aria-label="{{pageElements.one}}">1</md-button>
					</div>
					<div flex>
						<md-button class="md-raised" ng-click="addNumbers(2)" aria-label="{{pageElements.two}}">2</md-button>
					</div>
					<div flex>
						<md-button class="md-raised" ng-click="addNumbers(3)" aria-label="{{pageElements.three}}">3</md-button>
					</div>
				</div>
				<div layout="row">
					<div>
						<md-button class="md-raised" ng-click="addNumbers(4)" aria-label="{{pageElements.four}}">4</md-button>
					</div>
					<div>
						<md-button class="md-raised" ng-click="addNumbers(5)" aria-label="{{pageElements.five}}">5</md-button>
					</div>
					<div>
						<md-button class="md-raised" ng-click="addNumbers(6)" aria-label="{{pageElements.six}}">6</md-button>
					</div>
				</div>
				<div layout="row">
					<div>
						<md-button class="md-raised" ng-click="addNumbers(7)" aria-label="{{pageElements.seven}}">7</md-button>
					</div>
					<div>
						<md-button class="md-raised" ng-click="addNumbers(8)" aria-label="{{pageElements.eight}}">8</md-button>
					</div>
					<div>
						<md-button class="md-raised" ng-click="addNumbers(9)" aria-label="{{pageElements.nine}}">9</md-button>
					</div>
				</div>
				<div layout="row">
					<div>
						<md-button class="md-raised" ng-click="addNumbers(0)" aria-label="{{pageElements.zero}}">0</md-button>
					</div>
					<div>
						<md-button class="md-raised" ng-click="removeNumbers()" aria-label="{{pageElements.backText}}">{{pageElements.backText}}</md-button>
					</div>
				</div>
			</div>
		</div>
		
		<div>
			<md-button class="md-raised md-primary" ng-click="submitInput()" aria-label="{{pageElements.submitText}}">{{pageElements.submitText}}</md-button>
		</div>
	
	</div>
</md-content>