<md-content layout="column" layout-fill ng-cloak>
<div layout="column" ng-cloak> 
	<md-content> 
	<header role="banner">
	</header>
	<div class="container" layout="column" id="splash">
	<div layout="row" layout="column">
	<div flex layout="column">
	<h2 class="md-display-1" aria-label="Mental Health App">Mental Health App</h2>
	<md-button class="md-primary md-raised primary-met-bg" ng-click="setLanguage('en')" aria-label="English"><strong>English</strong></md-button>
	<md-button class="md-raised" href="#/terms-en" aria-label="Terms and Conditions">Terms and Conditions</md-button>
	</div>
	<div flex lang="fr" layout="column">
	<h2 class="md-display-1" aria-label="App Santé mentale">App Santé Mentale</h2>
	<md-button class="md-primary md-raised primary-met-bg" ng-click="setLanguage('fr')" aria-label="Français"><strong>Français</strong></md-button>
	<md-button class="md-raised" href="#/terms-fr" aria-label="Termes et Conditions">Termes et Conditions</md-button>
	</div>
	</div>
	<br class="clearfix" />
	<p class="text-center ver" aria-label="Version 1.0"><small>Version 1.0</small></p>
	</div>
	</md-content> 
	</div>
</md-content>