<md-content layout="column">

	<!-- SQL Query Section -->
	<div layout="row" layout-fill>
		
		<!-- Query Changer -->
		<div layout="row">
			<select ng-model="selectedQuery" ng-options="x for x in options"></select>
		</div>
		
		<!-- Select Query -->
		<div layout="row" layout-fill ng-hide="selectedQuery != 'Select'">
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Select Statement</label>
					<input ng-model="selectQueryValues.selectStatement">
				</md-input-container>
			</div>
			
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>From Statement</label>
					<input ng-model="selectQueryValues.fromStatement">
				</md-input-container>
			</div>
			
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Where Clause</label>
					<input ng-model="selectQueryValues.whereStatement">
				</md-input-container>
			</div>
			
			<div layout="column" layout-align="center" flex-offset="5" flex="20">
				<md-button class="md-raised" ng-click="runSelectQuery(selectQueryValues.selectStatement, selectQueryValues.fromStatement, selectQueryValues.whereStatement)">Query</md-button>
			</div>
		</div>
		
		<!-- Update Query -->
		<div layout="row" layout-fill ng-hide="selectedQuery != 'Update'">
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Update Table</label>
					<input ng-model="updateQueryValues.updateStatement">
				</md-input-container>
			</div>
			
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Set Statement</label>
					<input ng-model="updateQueryValues.setStatement">
				</md-input-container>
			</div>
			
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Where Clause</label>
					<input ng-model="updateQueryValues.whereStatement">
				</md-input-container>
			</div>
			
			<div layout="column" layout-align="center" flex-offset="5" flex="20">
				<md-button class="md-raised" ng-click="runUpdateQuery(updateQueryValues.updateStatement, updateQueryValues.setStatement, updateQueryValues.whereStatement)">Update</md-button>
			</div>
		</div>
		
		<!-- Insert Query -->
		<div layout="row" layout-fill ng-hide="selectedQuery != 'Insert'">
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Table Name</label>
					<input ng-model="insertQueryValues.tableStatement">
				</md-input-container>
			</div>
			
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Columns</label>
					<input ng-model="insertQueryValues.columnStatement">
				</md-input-container>
			</div>
			
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Values</label>
					<input ng-model="insertQueryValues.valuesStatement">
				</md-input-container>
			</div>
			
			<div layout="column" layout-align="center" flex-offset="5" flex="20">
				<md-button class="md-raised" ng-click="runInsertQuery(insertQueryValues.tableStatement, insertQueryValues.columnStatement, insertQueryValues.valuesStatement)">Insert</md-button>
			</div>
		</div>
		
		<!-- Delete Query -->
		<div layout="row" layout-fill ng-hide="selectedQuery != 'Delete'">
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Table Name</label>
					<input ng-model="deleteQueryValues.tableStatement">
				</md-input-container>
			</div>
			
			<div layout="column" flex-offset="5" flex="20">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Where Statement</label>
					<input ng-model="deleteQueryValues.whereStatement">
				</md-input-container>
			</div>
			
			<div layout="column" layout-align="center" flex-offset="5" flex="20">
				<md-button class="md-raised" ng-click="runDeleteQuery(deleteQueryValues.tableStatement, deleteQueryValues.whereStatement)">Delete</md-button>
			</div>
		</div>
	</div>
	
	<!-- SQL Results -->
	<div layout="row" class="border">
		<!-- Table Start -->
		<table border="1" ng-hide="query == undefined">
		
			<!-- Column Headers -->
			<tr>
				<td ng-repeat="header in keys"><strong>{{header}}</strong></td>
			</tr>
			
			<!-- Table Values -->
			<tr ng-repeat="value in query">
				<td ng-repeat="element in value">{{element}}</td>
			</tr>
		</table>
	</div>
</md-content>