<md-content ng-cloak>
	<div ng-repeat="favouriteTool in favouritedTools" flex layout="row" layout-fill>
		<md-card flex>
			<md-card-title>
				<md-card-title-media layout-padding>
					<div flex class="border md-media-md card-media"></div>
				</md-card-title-media>
			
				<md-card-title-text>
					<span class="md-headline">{{favouriteTool.name}}</span>
					<span class="md-subhead">Developed by {{favouriteTool.designedBy}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>{{favouriteTool.subDescription}}
			</md-card-content>
			
			<md-card-actions layout="row" layout-padding layout-align="end end">
				<md-button ng-click="goToTool(favouriteTool.link)" class="md-raised md-primary" aria-label="">Start Tool</md-button>
				<md-button ng-click="removeToolFromFavourites(favouriteTool.toolID)" class="md-raised md-primary" aria-label="Unfavourite">Unfavourite</md-button>
				<md-button ng-click="moreDetails(favouriteTool.toolID)" class="md-raised md-primary" aria-label="More Details">More Details</md-button>
			</md-card-actions>
		</md-card>
	</div>
	
	<md-divider></md-divider>
	
	<div ng-repeat="tool in tools" flex layout="row" layout-fill>
		<md-card flex>
			<md-card-title>
				<md-card-title-media layout-padding>
					<div flex class="border md-media-md card-media"></div>
				</md-card-title-media>
			
				<md-card-title-text>
					<span class="md-headline">{{tool.name}}</span>
					<span class="md-subhead">Developed by {{tool.designedBy}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<p>{{tool.subDescription}}
			</md-card-content>
			
			<md-card-actions layout="row" layout-padding layout-align="end end">
				<md-button ng-click="goToTool(tool.link)" class="md-raised md-primary" aria-label="">Start Tool</md-button>
				<md-button ng-click="addToolToFavourites(tool.toolID)" class="md-raised md-primary" aria-label="Favourite Tool">Favourite</md-button>
				<md-button ng-click="moreDetails(tool.toolID)" class="md-raised md-primary" aria-label="More Details">More Details</md-button>
			</md-card-actions>
		</md-card>
	</div>
</md-content>