// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Added by Tim 18-07-2018
ion-content {
    background: $app-background;
    margin-bottom: 0;
    margin-top: 0;
    
}

ion-footer{
    ion-toolbar{
        background: $toolbar-background;
    }
}

ion-navbar{
    background: $app-toolbar;
}

ion-toolbar{
    background: $app-toolbar;
}

ion-menu{
    ion-content {
        background: $app-menu-content;
        ion-list{
            ion-text{
            font-color: $app-menu-title;
            }
        }
    }
}

ion-label{
    font-size: 11px;
}

.circlebtn{
    background-color: transparent;
    border: 2px solid #002E5D;
    border-radius: 80px;
	height: 80px;
	width: 80px;
}

.dashboardButton {
	height: 120px !important;
    width: 120px !important;
}

.rectBtn{
    background-color: transparent;
    border: 2px solid #002E5D;
    border-radius: 10px;
    height: 50px;
    width: 80%;
}

.rectTxBx{
    background-color: transparent;
    border: 2px solid #002E5D;
    border-radius: 10px;
    width: 80%;
}

.iconimg {
    margin: auto;
    display: inline-block;
}

.iconDashboard {
	width: 32px;
	height: 32px;
}

.center{
    margin: auto;
}

.menuItemText {
	font-size: 20px;
}

.menuItemIcon {
	font-size: 28px;
}

