<ion-header *ngIf="pageElementsLoaded">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{pageElements.resourceTitleText}}</ion-title>
    </ion-navbar>
</ion-header>

<!-- Loading Div --> 
<div *ngIf="!pageElementsLoaded">
    <ion-spinner></ion-spinner>
</div>

<ion-content padding *ngIf="pageElementsLoaded" class="has-header">

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-row>
        <h4>Other helpful resources that may be available to you.</h4> 
<br><br>
<h4>Your manager/supervisor:</h4> 
Maintaining productive and respectful communication with your manager or 
supervisor about your experience is important. Keep a detailed record of your 
paper and in-person conversations for your files. 

<br><br>
<h4>Your family doctor:</h4> 
         Seeking assistance from your family doctor is crucial to your recovery process. With a doctor’s referral, your Public Service Health Care Plan will cover you up to $2000 a year for psychological services. Book an appointment now.  
<br><br>
<h4>Family, friends, and colleagues:</h4> 
         Communication with those you care for most and are closest with is key. Even though you may not feel like it, reach out and create a healthy support network for yourself. Your recovery will benefit greatly if you do.  
<br><br>
<h4>Your local counsellor:</h4> 
        Meeting with a local counsellor may be a good idea if you need to talk. They will be able to support you and guide you as you process your experience. 
<br><br>
<h4>Your financial advisor:</h4> 
         There may be financial implications if you cannot work for some time. Reach out to your financial advisor for advice and guidance. 
<br><br>
<h4>Your insurance company:</h4> 
        If you have questions about what is covered and what isn’t for mental health services, reach out to SunLife Canada. They can help. 
<br>
                </ion-row> 
                
            </ion-col>
            
        </ion-row>
                 
    </ion-grid>
   
</ion-content>


