<ion-header *ngIf="pageElementsLoaded">
  <ion-navbar hideBackButton="true" >
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
		<ion-title attr.aria-label="{{pageElements.checkinLogInfoText}}">{{pageElements.checkinLogInfoText}}</ion-title>
	</ion-navbar>
</ion-header>

<!-- Loading Div -->
<div *ngIf="!pageElementsLoaded">
	<ion-spinner></ion-spinner>
</div>

<ion-content padding style="height: 100%" *ngIf="pageElementsLoaded" class="has-header">
	
	<!-- Date and Time options for dailyEntry --
	<ion-row>
		<ion-col>
			<ion-item>
				<ion-label>Date</ion-label>
				<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="userRecords.date"></ion-datetime>
			</ion-item>
		</ion-col>
	</ion-row>
	
	
	<ion-row>
		<ion-col>
			<ion-item>
			  <ion-label>Time</ion-label>
			  <ion-datetime displayFormat="hh:mm A" [(ngModel)]="userRecords.date"></ion-datetime>
			</ion-item>
		</ion-col>
	</ion-row>
	
	-->
	
	<form (ngSubmit)="edit()">

		<ion-item>
			<ion-range min="1" max="10" [(ngModel)]="userRecords.moodScore" name="moodScore" color="moodColor" pin="true" class="slider">
				<ion-label range-left attr.aria-label="{{pageElements.moodText}}">{{pageElements.moodText}}<br>(10 Highest)</ion-label>
			</ion-range>
		</ion-item>      

		<ion-item>
			<ion-range min="1" max="10" [(ngModel)]="userRecords.dietScore" name="dietScore" color="dietColor" pin="true" class="slider">
				<ion-label range-left attr.aria-label="{{pageElements.dietText}}">{{pageElements.dietText}}<br>(10 Highest)</ion-label>
			</ion-range>
		</ion-item> 

		<ion-item>
			<ion-range min="1" max="10" [(ngModel)]="userRecords.sleepScore" name="sleepScore" color="sleepColor" pin="true" class="slider">
				<ion-label range-left attr.aria-label="{{pageElements.sleepText}}">{{pageElements.sleepText}}<br>(10 Highest)</ion-label>
			</ion-range>
		</ion-item> 

		<ion-item>
			<ion-range min="1" max="10" [(ngModel)]="userRecords.stressScore" name="stressScore" color="stressColor" pin="true" class="slider">
				<ion-label range-left attr.aria-label="{{pageElements.stressText}}">{{pageElements.stressText}}<br>(1 Highest)</ion-label>
			</ion-range>
		</ion-item>       
		  
		<ion-item>
		  <ion-label attr.aria-label="{{pageElements.descriptionText}}">{{pageElements.descriptionText}}</ion-label>
		  <ion-input type="text" placeholder="Description" [(ngModel)]="userRecords.entryNote" name="entryNote" required="" attr.aria-label="{{pageElements.descriptionInput}}"></ion-input>
		</ion-item>
	  
		<button ion-button type="submit" block attr.aria-label="{{pageElements.saveDataText}}">{{pageElements.saveDataText}}</button>
	</form>
   
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button block>Aidez moi / Help Me</button>
    </ion-toolbar>
</ion-footer>
